.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        strong {
            display: block;
        }
    }
}